{% extends 'base_admin.html.twig' %}

{% block body %}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">PAŽYMĖTOS DUOBĖS</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Platuma
                        </th>
                        <th>
                            Ilguma
                        </th>
                        <th>
                            Adresas
                        </th>
                        <th>
                            Nuotrauka
                        </th>
                        <th>
                            Peržiūra
                        </th>
                        <th>
                            Redagavimas
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if locations|default(null) %}
                        {% for loc in locations %}
                            <tr>
                                <td class="font-weight-medium">
                                    {{ loc.location_id }}
                                </td>
                                <td>
                                    {{ loc.lat }}
                                </td>
                                </td>
                                <td>
                                    {{ loc.long }}
                                </td>
                                <td id="address">

                                </td>

                                <script>
                                    var geocodeService = L.esri.Geocoding.geocodeService({
                                        apikey: "{{ geocode_api_key }}"
                                    });

                                    var latLng = L.latLng({{ loc.lat }}, {{ loc.long }});

                                    var address;

                                    geocodeService.reverse().latlng(latLng).run(function (error, result) {
                                        if (error) {
                                            return;
                                        }

                                        var el = document.getElementById("address");
                                        el.innerHTML = result.address.LongLabel;
                                        el.id = "";
                                    });


                                </script>

                                <td>
                                    <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#previewImage_{{ loc.location_id }}">
                                        Peržiūrėti nuotrauką
                                    </button>
                                </td>

                                <td>
                                    <a class="small-text" href="/map/pan/{{ loc.lat }}/{{ loc.long }}" target="_blank">
                                        Peržiūrėti žemėlapyje
                                    </a>
                                </td>

                                <td>
                                    <a class="small-text" href="/admin/edit/location/{{ loc.location_id }}" target="_blank">
                                        Redaguoti
                                    </a>
                                </td>
                            </tr>

                            <div class="modal fade" id="previewImage_{{ loc.location_id }}" tabindex="-1" aria-labelledby="label_{{ loc.location_id }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="label_{{ loc.location_id }}">Nuotraukos peržiūra</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <a id="image">

                                            </a>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Uždaryti</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <script>
                                var imgEl = document.getElementById("image");

                                var img = new Image();

                                img.src = "http://127.0.0.1:8000/api/v1/getimage/1.png";

                                img.style.width = "100%";

                                imgEl.appendChild(img);
                                imgEl.id = "";
                            </script>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}


{% block navigation %}
    {{ parent() }}
{% endblock %}

