{% extends 'base_admin.html.twig' %}

{% block title %}
    „ROADCHECK“ | Duobės redagavimas
{% endblock %}

{% block body %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div id="map" style="height: 50vh;"></div>
    <script type="text/javascript">
        var map = new L.Map('map');

        var osm = new L.TileLayer(osmUrl, {maxZoom: 19, attribution: osmAttrib});

        map.setView(new L.LatLng({{ location.lat }}, {{ location.lng }}), 13).addLayer(osm);

        var popup = L.popup();

        (async() =>
        {
            let result = await reverse(new L.LatLng({{ location.lat }}, {{ location.lng }}));

            document.getElementById("address").value = result.address.LongLabel;
        })();

        async function onMapClick(e)
        {
            let result = await reverse(e.latlng);

            popup.setLatLng(e.latlng)
                .setContent("<b>Pasirinkote adresą:</b> <br> " + result.address.LongLabel)
                .openOn(map);

            document.getElementById("address").value = result.address.LongLabel;

            document.getElementById("lat").value = e.latlng.lat;
            document.getElementById("lng").value = e.latlng.lng;
        }

        var marker = L.marker([{{ location.lat }}, {{ location.lng }}]).addTo(map);

        marker.bindPopup("<b>Pranešimo data:</b> <br>{{ location.created_at|split(".")[0] }}");

        async function onMarkerClick(e)
        {
            document.getElementById("lat").value = e.latlng.lat;
            document.getElementById("lng").value = e.latlng.lng;

            let result =  await reverse(e.latlng);

            document.getElementById("address").value = result.address.LongLabel;
        }

        marker.on('click', onMarkerClick);

        map.on('click', onMapClick);

        L.Control.geocoder().addTo(map);
    </script>

    <div class="card">
        <div class="card-body">
            <form method="post" action="/admin/edit/location/submit" enctype="multipart/form-data">
                <div class="form-control-sm">
                    <label for="id_visible">ID</label>
                    <input disabled type="text" class="form-control" name="id_visible" id="id_visible" value="{{ location.location_id }}">
                </div>

                <input type="hidden" class="form-control" name="id" id="id" value="{{ location.location_id }}">

                <div class="form-control-sm">
                    <label for="address" style="font-weight: bold">Ilguma</label>
                    <p>Lokaciją galima įrašyti ranka arba spausti ant vietos žemėlapyje.</p>
                    <input type="text" class="form-control" name="lat" id="lat" value="{{ location.lat }}">
                </div>

                <div class="form-control-sm">
                    <label for="address" style="font-weight: bold">Platuma</label>
                    <p>Lokaciją galima įrašyti ranka arba spausti ant vietos žemėlapyje.</p>
                    <input type="text" class="form-control" name="lng" id="lng" value="{{ location.lng }}">
                </div>

                <div class="form-control-sm">
                    <label for="address" style="font-weight: bold">El. paštas</label>
                    <p>Pranešėjo el. paštas, naudojamas susisiekimo tikslams.</p>
                    <input type="text" class="form-control" name="email" id="email" value="{{ location.email }}">
                </div>

                <div class="form-control-sm disabled">
                    <label for="address" style="font-weight: bold">Adresas</label>
                    <p>Nurodykite adresą spausdami ant žemėlapio.</p>
                    <input type="text" class="form-control" disabled name="address" id="address">
                </div>

                <div class="form-control-sm">
                    <label for="created_at">Sukurta</label>
                    <input type="text" class="form-control" name="created_at" id="created_at" value="{{ location.created_at }}">
                </div>

                <div class="form-control-sm">
                    <button type="submit" class="btn btn-sm btn-success">Išsaugoti</button>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}


{% block navigation %}
    {{ parent() }}
{% endblock %}

